*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
.palette-section {
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	/* border: 3px solid red; */
}
/* header and nav */
.palette__nav {
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.66rem 1rem;
	background-color: #fff;
	color: #7d7c82;
}
.special {
	border: 3px solid red;
}
.nav__actions {
	display: flex;
	gap: 0.8rem;
	list-style: none;
	color: #484848;
}
.nav__action {
	display: flex;
	align-items: center;
	gap: 0.7em;
	padding: 0.5em 0.7em;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.1s ease;

	&:hover {
		background: #f2f2f2;
	}
}
/* main */
.palette__container {
	/* border: 3px solid gold; */
	width: 100%;
	min-height: calc(100vh - 55px);
	min-height: calc(100dvh - 55px);
	/* height: min(70vh, 700px); */
	display: flex;
	flex-wrap: wrap;
}
.palette__color-box {
	flex: 1 1 250px;
	padding: 2rem 0rem;
	padding-top: 6rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;

	&:hover {
		animation: boxActive 0.5s ease forwards;
	}
}
.palette__color-box i {
	font-size: 1.5rem;
	border-radius: 0.8rem;
	color: inherit;
	background-color: #ffffff88;
	padding: 0.8rem;
	transition: background-color 0.3s ease;
	margin-bottom: 2rem;
	&:hover {
		background-color: #ffffff;
	}
}
.palette__color-box input {
	color: inherit;
	background-color: #ffffff;
	border-radius: 0.8rem;
	font-size: 1.5rem;
	padding: 0.5em 1.2em;
	border: none;
	text-align: center;
	width: 6.5em;
}
@keyframes boxActive {
	from {
		outline: 3px solid transparent;
	}
	to {
		outline: 3px solid white;
		outline-offset: -1rem;
	}
}
